*{
    margin: 0;
    padding: 0;
}

.div-pai{
    display: grid;
    grid-template-rows: auto 90vh 5vh; /* 90% de altura da minha área visível. */
}

header{
    background: rgb(148, 206, 61);
    display: grid;
    grid-template-columns: 175px 1fr;
    justify-items: end;
    align-items: center;
}

.imagem-logo{
    width: 175px;
}

button{
    margin-right: 2pc;
    padding: 2px 5pc 2pc 5pc;
}

.principal{
    background: rgb(40, 41, 40);        
    color: rgb(205, 184, 206);
}
    
.rodape{
    /* background: rgb(192, 198, 199)
    background: rgb(227, 193, 199) */

    background: rgb(205, 184, 206);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    grid-column: 1/-1;
}

.cartao-do-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px  rgb(205, 184, 206);
    text-align: center;   
}

.imagem-do-cartao{
    width:20%;
}

.icone-e-texto{
    display: flex;
    align-items: center;
}

.icone{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}